@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-800 antialiased pb-20 selection:bg-purple-200;
    font-family: 'Outfit', 'Inter', -apple-system, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom Leaflet overrides for styling */
.custom-div-icon {
  background: none !important;
  border: none !important;
}
